:root {
  --primary: #275EFE;
  --white: #fff;
  background: #333; }

.frame {
  width: 320px;
  height: 240px;
  overflow: hidden;
  border-radius: 0 0 28px 28px;
  display: flex;
  align-items: flex-end; }

.tabbar {
  background: var(--white);
  width: 100%;
  border-radius: 0 0 28px 28px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;
  margin: 0;
  padding: 0 16px; }
  .tabbar li a {
    display: block;
    padding: 24px 0; }
    .tabbar li a div {
      --y: 0;
      width: 32px;
      height: 32px;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      backface-visibility: hidden;
      transform: translateY(var(--y)); }
      .tabbar li a div svg {
        display: block;
        width: 32px;
        height: 32px;
        fill: rgba(255, 255, 255, 0);
        stroke-width: 1px;
        stroke: var(--primary); }
      .tabbar li a div:before {
        --s-x: 1;
        --s-y: 1;
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        transform: scaleX(var(--s-x)) scaleY(var(--s-y)); }
    .tabbar li a.box div::before {
      --s-x: .75;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 12px;
      bottom: 4px;
      border-radius: 1px;
      background: var(--primary); }
    .tabbar li a.box div em {
      --s-x: 1;
      --s-y: 1;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1; }
      .tabbar li a.box div em::after, .tabbar li a.box div em::before {
        --r: 0deg;
        content: '';
        display: block;
        height: 2px;
        border-radius: 1px;
        width: 13px;
        background: var(--primary);
        position: absolute;
        bottom: -1px;
        transform: rotateZ(var(--r)) translateY(1px) scaleY(0.75); }
      .tabbar li a.box div em::before {
        --r: 30deg;
        right: -1px;
        transform-origin: 100% 50%; }
      .tabbar li a.box div em::after {
        --r: -30deg;
        left: -1px;
        transform-origin: 0% 50%; }
    .tabbar li a.home div::before {
      --s-x: .75;
      --s-y: .75;
      width: 10px;
      height: 15px;
      border: 2px solid var(--primary);
      border-bottom: 0px;
      border-radius: 2px 2px 0 0;
      left: 50%;
      bottom: 1px;
      transform: scale(0.75);
      margin-left: -7px; }
    .tabbar li a.calendar div:before {
      --s-y: .75;
      height: 2px;
      width: 22px;
      background: var(--primary);
      left: 50%;
      top: 12px;
      margin-left: -11px; }
    .tabbar li a.calendar div em {
      display: block;
      position: absolute;
      top: 3px;
      left: 50%; }
      .tabbar li a.calendar div em::before, .tabbar li a.calendar div em::after {
        content: '';
        display: block;
        width: 2px;
        height: 7px;
        border-radius: 1px;
        background: var(--primary);
        transform: scale(0.75);
        position: absolute; }
      .tabbar li a.calendar div em::before {
        right: -6px; }
      .tabbar li a.calendar div em::after {
        left: -6px; }
  .tabbar li.active a div {
    --y: -25px; }
    .tabbar li.active a div svg {
      fill: var(--white); }

/*# sourceMappingURL=style.css.map */
